<p><%= notice %></p>

<% @photos.each do |photo| %>
  <p>タイトル：<%= photo.title %></p>
  <p>説明：<%= photo.content %></p>
  <%= link_to "写真を編集する", edit_photo_path(photo.id),data: { confirm: '本当に編集しますか？'} %>
  <%= link_to "写真を削除する", photo_path(photo.id), method: :delete, data: { confirm: '本当に削除しますか？'} %>
<% end %>

<%= link_to "写真を投稿する", new_photo_path %>
